{% extends 'logged_in.html' %}
{% block login_block %}
<h1>Voting</h1>
{% if already_voted %}
You already voted. You may not edit your votes.
{% else %}
<form action="/vote2/" method="post">
{% csrf_token %}
{% if warn %}
    <p class="bg-warning">You need to choose for all positions.</p> 
{% endif %}
{% if invalid_pass %}
    <p class="bg-danger">Invalid password.</p> 
{% endif %}
{% for position in positions %}
    <div class="form-group">
        For <b>{{ position.name }}</b>
        <fieldset class="{{ position.name }}">
        {% for candidate in position.candidates %}
            <div class="radio">
                <label>
                    <input type="radio" name="choice{{ position.name }}" id="choice{{candidate.id }}" value="{{ candidate.id }}" />
                    {{ candidate.name }}
                </label>
            </div>
        {% endfor %}
        </fieldset>
    </div>
{% endfor %}
    <p class="bg-info">We need your password once again to continue.</p>
    <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password" />
    </div>
<button type="submit" class="btn btn-default">Vote</button>
</form>
{% endif %}
{% endblock %}
