{% extends 'works/default.html' %}
{% load staticfiles %}
{% block head_block %}
<style type="text/css">
    body{
        padding-top: 50px;
    }
    .starter-template{
        padding: 40px 15px;
        text-align: center;
    }
    .chaika{
        width: 25%;
    }
</style>
{% endblock %}
{% block body_block %}
<div class="container">
    <div class="starter-template">
        <h2>{{board.title}}</h2>
        <h6> Views: {{board.views}} </h6>
        <div class="list-group">
        {% for a in activities %}
            <a href="#" class="list-group-item">{{a.title}} (Progress {{a.progress}}%)</a>
        {% endfor %}
        <a href="#" class="list-group-item"> Add more ... </a>
        </div>
    </div>
</div>
{% endblock %}